__pycache__/
*.pyc
sim_build*/
results.xml
*.vcd
*.fst
obj_dir/
node_modules/
build/
.svelte-kit/
/quartus/output_files/
/quartus/db/
/quartus/incremental_db/
*.o
*.log
/quartus/*.qws
/quartus/greybox_tmp/
/quartus/tmp-clearbox/
/quartus/qdb/
/quartus/c5_pin_model_dump.txt
